[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
redis = "*"
ipython = "*"
sseclient = "*"
aiohttp-sse-client = "*"
aioredis = "*"
dash = "*"
plotly = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
